html
{
scroll-behavior:smooth;
}

html,body
{
    height: 100%;
    max-width:100%;
    margin:0;
    background-color:#87cefa ;
}

div*
{
    font-family:"KacstDigital";

    margin:0;
}
div{
    text-align: center;
    padding-bottom: 5%;
    border:1px solid black;
}

/***************************************************Search Bar*********************************************************/
#mainPage  /*background*/
{

    background: url(155022230133763752.png)no-repeat;
}

.container {                     /*grid for search*/
    position: relative;
    left: 27%;
    grid-template-columns: repeat(6, auto);
    text-align: center;
    width: 45%;
    background-color: #e2e2e2;
    padding:1%;

}

#aboutLink
{
    grid-column: 2;
    grid-row: 1;
}
#projectsLink
{
    grid-column: 3;
    grid-row: 1;
}
#codecrewLink
{
    grid-column:4;
    grid-row: 1;
}
#contactLink
{
    grid-column:5;
    grid-row: 1;
}
a          /*Margin for links*/
{
    display:inline;
    margin: 0 2%;
    /*color: black;*/
    text-decoration-line: none;
    font-size: 1rem;
    color:black;
}

a:hover
{
background-color: black;
   /* color:white;*/
    color:#e2e2e2;
}


/***********************************************Back to the top********************************************************/

#scrollUp
{
    position:fixed;
    display:block;
    right:0;
    bottom:0;
    border-radius:50%;
    height:8%;
    width:4%;
    background:url('resizearrow.png')no-repeat;
    border:none;
    scroll-behavior:smooth;
}
/**********************************************Other half of main page*************************************************/
#myName
{
    font-size: 5rem;
    margin-bottom: 0;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-weight: bold;
    color: #e2e2e2;
}
footer:nth-of-type(2)
{
    animation-delay: 1s;
}

footer:nth-of-type(3)
{
    animation-delay:1.25s;
}

footer:nth-of-type(4)
{
    animation-delay:1.5s;
}


div:nth-of-type(1)>footer:nth-of-type(3)>p
{
    font-size: 2.3rem;
    text-align: center;
    color: #eff3fa;
}

#Docx,#PDF
{
    border-radius:10px;
    height: 20%;
    margin:1% 0;
    font-size:2rem;
    background: rgba(225,225,225,.0);
    color: #e2e2e2;
    font-weight: bold;
    border: 5px solid #e2e2e2;
}

#Docx:hover,#PDF:hover
{
    background: #e2e2e2;
    color: #87cefa;
    text-decoration-line: underline ;
}
/*****************************************Background for the Sections***************************************************/

.light{
    /*
    background-color: #adadad;
    */
    /*
    background-color: white;
    */
    background-color: #e2e2e2;
}

.dark{
    background-color: #87cefa;
}
/**************************************************About Me************************************************************/

.layoutAbout
{
    display:grid;
    grid-template-columns: 1fr 3fr;

}

div:nth-child(4)>p
{
    position:relative;
    left:2%;
    grid-column:1;
    grid-row: 1/10;
    font-size: 2.3rem;
    font-weight: lighter;
}

div:nth-child(4)>article:nth-of-type(1)
{

    grid-column:2;
    grid-row:1/5;
    font-size: 1.3rem;
    margin:6% 10% 0 0;
    text-align:left;
    border-left:5px solid black;
    padding-left:3%;
}
div:nth-child(4)>article:nth-of-type(2)
{

    grid-column:2;
    grid-row:6/10;
    font-size: 1.3rem;
    margin:6% 10% 0 10%;
    text-align:left;
    border-left:5px solid black;
    padding-left:3%;
    padding-top:1%;
}
/****************************************************Skills************************************************************/
div:nth-child(5)>p
{
    font-size: 2.3rem;
    margin-top:0;
    padding-top: 4.082%;
}

div:nth-child(5)>span
{
    margin:0 1%;
    font-size: 1.3rem;
   /* border:1px solid black;*/
    /*
    background:gray;
    */
    background-color: #e2e2e2;
    padding:0.5%;
}
/****************************************************Projects**********************************************************/
div:nth-child(6) p
{
    font-size:2.3rem;
    margin-top:0;
    padding-top: 4.082%;

}

.projectGrid
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
    margin:auto;
}


#project1
{
grid-column: 1/4;
grid-row:1/3;
margin:0;
}
#project2
{
grid-column: 5/8;
grid-row:1/3;
margin:0 10%;
}
#project3
{
grid-column: 9/12;
grid-row:1/3;
margin:0 10%
}
#p1text
{
    grid-column: 1/4;
    grid-row:5;
    margin: 0 10%;
    text-align: left;
    font-size: 1.3rem;
    padding-left:6%;
}
#p2text
{
    grid-column: 5/8;
    grid-row:5;
    margin: 0 10%;
    text-align: left;
    font-size: 1.3rem;
    padding-left:6%;
}
#p3text
{
    grid-column: 9/12;
    grid-row:5;
    margin:0 10%;
    text-align: left;
    font-size: 1.3rem;
}

/************************************************Education**************************************************************/


/*
div:nth-child(7)
{
    text-align: center;
}
*/

div:nth-child(7)>p  /*Education*/
{
    position:relative;
    font-size:2.3rem;
    margin-top:0;
    padding-top: 4.082%;
    left:2%;
    text-decoration: underline;
    /*grid-column:1;
    grid-row:1/10;*/
}
/*nav:nth-child(7)>article
{
    text-align: left;
}*/
/*nav:nth-child(7) p {
    position: relative;
    left: 2%;
    grid-column: 1;
    grid-row: 1/5;
    font-size: 2.3rem;
}*/


.yearsAttended
{
position:relative;
float:right;
right:20%;
}
.collegeAttended
{
   /* position:relative;*/
    float:left;
    left:30%;
}

/*.blockStyle
{
    display: block;
    clear:both;
}*/

#educationGrid
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(3,1fr);

    text-align: left;
    font-size:1.3rem;
}

#codeC
{
  grid-column: 1;
    grid-row:1;
    padding-left:40%;
}
#codeDates
{
    grid-column: 2;
    grid-row:1;
    padding-left:10%;
}
#UofM
{
    grid-column: 1;
    grid-row:2;
    padding-left:40%;
}
#uofmDates
{
    grid-column: 2;
    grid-row:2;
    padding-left:10%;
;
}
#SW
{
    grid-column: 1;
    grid-row:3;
    padding-left:40%;
}
#swDates
{
    grid-column: 2;
    grid-row:3;
    padding-left:10%;
}


/**************************************************Audio****************************************************************/
div:nth-child(8)>p
{
    font-size:2.3rem;
    margin-top:0;
    padding-top: 4.082%;
    margin-bottom:0;
}



div:nth-child(8) p:nth-of-type(2)
{
    font-size: 1.5rem;
    padding-bottom:1.6%;
    padding-top:2.018%;
    margin-top:0;
}
#audioGrid
{
    display:grid;
    grid-template-areas:
    "ZeroH OneH TwoH ThreeH"
    "Zero One Two Three"
    "FourH FiveH SixH SevenH"
    "Four Five Six Seven";
}

#Alpha
{
    grid-area: Zero;
    padding-left: 10%;
}
#Week1
{
    grid-area:One;
    padding-left: 10%;
}
#Week2
{
    grid-area:Two;
    padding-left: 10%;
}
#Week3
{
    grid-area:Three;
    padding-left: 10%;
}
#Week4
{
    grid-area: Four;
    padding-left: 10%;

}
#Week5
{
    grid-area: Five;
    padding-left: 10%;
}

#header0
{
   grid-area: ZeroH;
    font-size: 1.3rem;
}
#header1
{
    grid-area: OneH;
    font-size: 1.3rem;
}
#header2
{
    grid-area: TwoH;
    font-size: 1.3rem;
}
#header3
{
    grid-area: ThreeH;
    font-size: 1.3rem;
}
#header4
{
    grid-area: FourH;
    font-size: 1.3rem;
}
#header5
{
    grid-area: FiveH;
    font-size: 1.3rem;
}
#header6
{
    grid-area: SixH;
    font-size: 1.3rem;
}
#header7
{
    grid-area: SevenH;
    font-size: 1.3rem;
}

/*
audio
{
    width: 300px;
    height: 54px;
}
*/


.spaceBottom
{
    margin-bottom:4%;
}
/**************************************************************************************************************************/




div:nth-child(8) p
{
    font-size:2.3rem;
    margin-top:0;
    padding-top: 4.082%;
}






div:nth-child(9)>p
{
    font-size:2.3rem;
    margin-top:0;
    padding-top: 4.082%;
}


